<div class ="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br /><br />
    <h1> Learning begins here. </h1>
    <br />
    <h2> Learn skills from the best in the industry. </h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>