<div class ="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br /><br />
    <h1> Learning begins here. </h1>
    <br />
    <h2> Learn skills from the best in the industry. </h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-primary' %>
    <br /><br />
  </div>
</div>

<br />
<div class = "row feature text-center">
  <div class= "col-12 col-sm">
    <h3> Courses In Over 100 Fields </h3>
    <br />
    <p>Choose from a broad course list in fields from software development to watercolor painting.</p>
  </div>

  <div class= "col-12 col-sm">
    <h3> Learn At Your Own Pace </h3>
    <br />
    <p> Courses have no start or end date. You decide the pace. </p>
  </div>

  <div class= "col-12 col-sm">
    <h3> Join Our Community</h3>
    <br />
    <p> Become a part of a learning community of likeminded individuals. </p>
  </div>    
</div>
