<br />

<div class = "registration_box col-10 offset-1">
  <h3> Team </h3>
  <hr />
  <p>
  <%= image_tag 'sherzelsmith.jpg', class: 'team-photo', style: "float:left" %>
    Sherzel is a Ruby on Rails Web Developer in training at Firehose Project. This app was created as a part of the Firehose program. 
  </p>
  <p>
    If you are interested in viewing anymore of Sherzel's work, check out her <a href="https://github.com/snsmith92">GitHub</a>!
  </p>
  <br />
  <br />
</div>