<br />

<div class="registration_box col-10 offset-1">
  <h2 class="text-center"><%= current_lesson.title %></h2>
  <br />
  <h6 class = "text-center">
    <%= current_lesson.subtitle %>
  </h6>
</div>