@import "bootstrap";

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

body{
  background: image_url('dust_scratches.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #9f9fa0;
}

a.navbar-brand{
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 4px;
  font-weight: 100;
  color: #5d5e60;
}

.hero {
  background: url(hero.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

.frosty {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 6px;
  font-weight: 75;
/*  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
  font-size: 35px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 2px;
  font-weight: 200;
/*  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
  font-size: 15px;
}

.btn {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica Neue;
  font-weight: 100;
  letter-spacing: 3px;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

