@import "bootstrap";
@import "font-awesome";

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica Neue;
  font-weight: 75;
  letter-spacing: 3px;
}

.registration_box{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: white;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px; 
}

.registration_box h1 {
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 6px;
  font-weight: 75;
  font-size: 35px;
}

.registration_box h2 {
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 30px;
}

a:hover {
  text-decoration: none;
  font-color: #a4a6a8;
}

body{
  background: image_url('dust_scratches.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  font-family: "Helvetica", Helvetica;
  font-weight: 100;
  font-size: 15px;
}
.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #9f9fa0;
}

a.navbar-brand{
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 4px;
  font-weight: 100;
  color: #5d5e60;
}

.hero {
  background: url(hero.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

.frosty {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 6px;
  font-weight: 75;
/*  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
  font-size: 35px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 2px;
  font-weight: 200;
/*  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;*/
  font-size: 15px;
}

.btn {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica Neue;
  font-weight: 100;
  letter-spacing: 2px;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.form-inputs{
  font-family: "Helvetica Neue", Helvetica;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 15px;
}


.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr{
  clear: both;
}

.badge {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica Neue;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 15px ;
  padding: 5px;
}

.instructor-course-image {
  width: max-width;
  height: 150px;
}

.index-course-image {
  width: 150px;
  height: max-height;
}

.lesson {
  background-color: #E2F2FF;
  margin-top:10px;
  padding: 10px;
  height: 130px;
}

.lesson a {
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

.lesson a:hover {
  color: #8c8e91;
  text-decoration: none;
}

.lesson a b {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 4px;
}

.section {
  border: 1px solid;
  border-color: black;
  padding: 20px;
}

.section h4 {
  font-family:"Helvetica Neue", Helvetica;
  letter-spacing: 2px;
  font-weight: 75;
}

ul {
  list-style-type: none; 
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
  background: #e5e8ea;
}

ul .header{
  font-size: 25px;
}

ul .header {
  font-size: 20px;
}

.lessons li {
  background: #e3f2fd;
  color: black;
  font-family:"Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 20px;
}

.lessons li b {
  font-size: 15px;
  font-weigt: 100;
}

.lessons li p {
  margin: 0;
}

.lessons a {
  text-decoration: none;
  color: black
}

.img-dashboard{
  width: 200px;
  height: 100%;
  vertical-align: middle;
}

.course-title{
  color: black;
}

.course-title a {
  color: black;
  text-decoration: none; 

}

.course-title a:hover {
  color: #a4a6a8;
  text-decoration: none;
}

.index-box {
  border: 0.5px solid;
  border-color: black;
  padding: 10px;
  margin: 20px;
  background: #e3f2fd;
}

.index-box .btn {
  color: white;
}

.index-box a:hover {
  color:#a4a6a8;
  text-decoration: none;
}

.social-button{
  margin: 4px;
}

.social-button a:hover {
  text-decoration: none;
}

.team-photo {
  width: 100px;
  height: max-height;
  border: 5px solid;
  border-color: #e3f2fd;
  border-radius: 50%;
  margin: 4px 10px 0px 0px; 
}